{{> mainmenu _id="details" }}

<section class="ui segment">

    <p> <strong>{{points.name}}</strong>

    <div>{{points.description}}</div>
    <p>  {{points.category}}</p>
    <p>  {{points.latitude}}</p>

</section>