{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/blasket_islands.jpg" class="ui large image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Points of Interest</header>
            <p> The islands of Ireland </p>
        </article>
    </div>
</section>